* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-color: hsl(229, 57%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(./bg-mobile.png);
  position: absolute;
  bottom: 0;
  left: 0;
}

.compo {
  z-index: 1;
}

.compo .head {
  width: 320px;
  padding: 25px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 90px 10px 10px;
}

.head .logo {
  margin: 20px 0;
}

.head .icons {
  margin: 30px 0 20px;
  display: flex;
  gap: 20px;
}

.head .icons img {
  padding: 12px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}

.info {
  width: 320px;
  margin-top: 20px;
  padding: 25px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  position: relative;
}

.info p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: hsl(243, 100%, 93%);
}

.info p .bld {
  font-weight: 700;
}

.info .loading {
  width: 100%;
  height: 20px;
  margin-top: 20px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 20px;
  position: relative;
}

.info .loading::before {
  content: "";
  width: calc(75% - 6px);
  height: calc(100% - 6px);
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translate(0, -50%);
}

.info .loading::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: hsl(243, 100%, 93%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(70% - 2px);
  transform: translateY(-50%);
}

.info .range {
  margin-top: 6px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .range span {
  font-size: 12px;
  font-weight: 700;
  color: hsl(243, 100%, 93%);
}

.info .rest {
  width: fit-content;
  padding: 15px 20px;
  border: 1px solid hsl(229, 57%, 11%);
  color: hsl(229, 7%, 55%);
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info .rest .bold {
  font-size: 32px;
  font-weight: 700;
  color: hsl(229, 57%, 11%);
}
@media (min-width: 376px) {
  main::before {
    height: 50%;
    background-image: url(./bg-desktop.png);
    background-repeat: no-repeat;
    bottom: 0;
  }

  .head .icons {
    margin-bottom: 0;
  }

  .compo {
    display: flex;
    align-items: end;
    gap: 30px;
  }

  .compo .info {
    width: 500px;
    height: fit-content;
    padding: 40px;
  }

  .info p {
    text-align: left;
  }

  .info .loading::after {
    left: 71%;
  }
  .info .range {
    margin-bottom: 0;
  }
  .info .rest {
    width: 160px;
    top: 0;
    left: 80%;
  }

  .info .rest::before {
    content: "";
    width: 0;
    height: 0;
    border: 20px solid;
    position: absolute;
    bottom: -20px;
    right: 0px;
    border-color: transparent white transparent transparent;
  }
}
